:root {
  font: 16px / 1 sans-serif;
}

// iphone 6/7/8 // 375,667

html {
  height: 100%;
  
  
}


body {
  height: 100%;
  width: 100%;
  margin: 0 ;
  
  
}
  

header {

  display : flex; 
  flex-direction: row;
  background-color: rgb(84, 45, 168);
  color: rgb(255,255,255);
  padding-bottom: 0rem;
  background-attachment:fixed;
  
  
}




.copyright {

  color:black;
  font-size: 0.8rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
 
}


.mission-data {

padding-bottom: 1rem;
padding-top : 0.5rem;


}


h3 {

  color:black;
  font-size: 1.rem;
  font-weight: 200;
  margin-left: 15px;
  margin-right: 15px;
  
  
}


.mission-data{

margin-top : 1rem;
margin-bottom : 1rem;



}


 


h3 .mission-info{
padding-bottom: 5px;
}

.mission-name {
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 0;
  
}



.iconcontainer {
display:flex;
justify-content: space-around;
}


.mission-info {

  border-bottom: 0.1px solid rgb(196, 192, 192);
  padding-bottom: 10px;
  text-align: left;
  

}

.launch-site {
  text-align: left;
}

.launch-data_unix {

  text-align: left;

}



img {
  height:355px;
  width:375px;
  
  
}


.image-container {


  
  
  text-align: center;
  color: white;

}

.textcontainer{

display: flex;
align-content: center;


}

.image-text {
  font-weight: bold;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 4rem;
  width: 350px;
  height :165px;
  
  white-space: nowrap;
  
} 
  

.mission-data {

font-size: ;

}




 h1{
  
  font-size : 1.5rem;
  
  float: left;
}

.right {

  display : flex;
  flex-direction: row;
  font-style: none;
  list-style-type:none;
  
}


span a {
  color: white;
  margin-left: 5px;
}


span i {

  color : yellow ;
  margin-left: 5px;
  margin-right: 5px;
}
ul a{
  
  background-size: 2rem;
  color: white;
}
 
 li {

  justify-content: space-between;
  margin-left:  2rem;
  
  margin-right: 0.5rem;
  text-decoration: underline;
  color: white;
  
  
}


.mission-data {

  background-color:rgb(237,237,237);
  border-radius: 7px;
  
  width: 160px;
  padding-left:  16px ;
  padding-right: 16px ;
}

.mission-data-contaiener{

  display: flex;
  justify-content: space-between;

  
}

.leftcontainer {

  display: flex;
  align-items: center;
  

}


.leftbutton {

  
  display: inline-block;
  Height:2.2rem;
  width: 2.6rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(255, 193, 7);
}

.rightcontainer {

  display: flex;
  align-items: center;
 
  
  
}

.rightbutton {
 
  display: inline-block;
  height:2.2rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(255, 193, 7);
 
}



button span i {
  font-weight:20px;
  color: black;
  font-weight: 900;
  font-size: 1.5rem;
}



span {
  text-decoration: underline;
}



footer {
  padding-top: 1.7rem;
  padding-bottom: 1.5rem;
  background-color: rgb(84, 45, 168);
  display:flex;
  
  
  
  
   
}



.foot {
  display: flex;
 
  justify-content: center;
  color:rgb(204, 204, 204);
  
  
}


.cr {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
}


.usl {
  background-color: rgb(255, 193, 7);
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: bold;
  align-items: center;
  color: black;
  padding-right: 1rem;
  padding-bottom:1rem ;
  padding-top:1rem ;
}




.ancient {
  background-color: rgb(209, 196, 233);
  display: flex;
  flex-direction: column;
  //justify-content: space-around;
  padding-bottom: 2.5rem;
  

}



 .our {
   display: flex;
   justify-content: space-around;
}


.ancient2 {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  text-align: center;
}



.active {

background-color: yellow;
padding-left:  0.5rem;
padding-right:  0.5rem;
height: 3rem;
}




  .rocket i {
    color: black;
  }
    
@media (min-width: 1025px) {
  



header {

  justify-content: space-between;
  
}  



img {
  height:355px;
  width:1773px;
  
  
}




.usl {

 
 justify-content: flex-start;

}
}